.bubble-alert {
  position : fixed;
  right    : 20px;
  top      : 20px;
  width    : 320px;
  overflow : hidden;
  z-index  : 99999;

  &-notify {
    padding       : .75rem 1.25rem;
    margin-bottom : 6px;
    box-shadow    : 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius : 3px;
    color         : #FFF;
    transition    : opacity 500ms, left 500ms;
    left          : 100%;
    opacity       : 0;
    position      : relative;

    &.--show {
      opacity : 1;
      left    : 0;
    }

    &.--success {
      background-color : var(--success);
    }

    &.--info {
      background-color : var(--info);
    }

    &.--warning {
      background-color : var(--warning);
    }

    &.--error {
      background-color : var(--danger);
    }

    &.--primary {
      background-color : var(--primary);
    }

    &.--danger {
      background-color: var(--danger);
    }

    &.--default {
      background-color : var(--gray-dark);
    }

    &-title {
      margin-bottom : 8px;
      font-size     : var(--font-size-h4);
    }

    &-message {
    }

    &-footer {
      margin-top : 12px;
      display    : flex;
    }

    &-input {
      width            : 100%;
      border-radius    : 2px;
      border           : 1px solid rgba(0, 0, 0, .05);
      background-color : rgba(0, 0, 0, 0.1);
      outline          : none;
      padding          : 0.475rem 0.950rem;
      color            : #FFF;
      transition       : background-color 250ms, border-bottom-color 250ms, border-top-color 250ms, border-right-color 250ms, border-left-color 250ms;

      &:focus {
        background-color : rgba(0, 0, 0, 0.2);
      }
    }

    &-btn {
      padding          : 0.5rem;
      background-color : rgba(0, 0, 0, 0.1);
      border           : 1px solid rgba(0, 0, 0, 0.1);
      color            : #FFF;
      border-radius    : 2px;
      outline          : none;
      cursor           : pointer;
      flex-grow        : 1;

      &.-true {
        margin-right : 5px;
        &:hover {
          background-color : var(--success);
        }
      }
      &.-false {
        margin-left : 5px;
        &:hover {
          background-color : var(--danger);
        }
      }
    }

    &-close {
      width           : 26px;
      height          : 26px;
      top             : 12px;
      right           : 12px;
      position        : absolute;
      cursor          : pointer;
      display         : flex;
      align-items     : center;
      justify-content : center;
      border-radius   : 50%;
      transition      : background-color 250ms;

      &:hover {
        background-color : rgba(0, 0, 0, 0.3);
      }
    }
  }
}