.btn-group {
  display: flex;
  flex-wrap: wrap;

  &.no-wrap {
    flex-wrap: nowrap;
  }

  & > * {
    margin-right: 2px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .8rem 1.5rem;
  border-radius: .25rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  line-height: 1;
  margin-bottom: 2px;
  border: none;
  outline: none;

  &.primary {
    background-color: var(--primary);
    color: #FFFFFF;
  }

  &.danger {
    background-color: var(--danger);
    color: #FFF;
  }

  &.success {
    background-color: var(--success);
    color: #FFF;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &.ico {
    width: 32px;
    height: 32px;
    padding: 6px;
    color: #FFFFFF;

    &.small {
      width: 24px;
      height: 24px;
      font-size: 12px;
    }
  }
}
