.content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: auto;

  &-wrapper {
    display: grid;
    padding: var(--gap);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: var(--gap);
  }
}