.form {

  &-input {
    width         : 100%;
    border-radius : 2px;
    border        : 1px solid rgba(0, 0, 0, .1);
    background-color: rgba(255,255,255,0.2);
    outline: none;
    padding: 0.875rem 1.375rem;
  }
}