.col {
  &-1 {
    grid-column-start: span 1;
  }

  &-2 {
    grid-column-start: span 2;
  }

  &-3 {
    grid-column-start: span 3;
  }

  &-4 {
    grid-column-start: span 4;
  }

  &-5 {
    grid-column-start: span 5;
  }

  &-6 {
    grid-column-start: span 6;
  }

  &-7 {
    grid-column-start: span 7;
  }

  &-8 {
    grid-column-start: span 8;
  }

  &-9 {
    grid-column-start: span 9;
  }

  &-10 {
    grid-column-start: span 10;
  }

  &-11 {
    grid-column-start: span 11;
  }

  &-12 {
    grid-column-start: span 12;
  }
}