.label-group {
  display: flex;

  .label {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.label {
  font-size: 11px;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 4px 6px;
  border-radius: 2px;
  line-height: 1;

  &.primary {
    color: #FFFFFF;
    background-color: var(--primary);
  }

  &.success {
    color: #FFFFFF;
    background-color: var(--success);
  }
}