.menu {
  margin: 0 0.375rem;
  padding      : 0;
  list-style   : none;

  & li {
    margin-top : .2rem;
  }

  & a {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.937rem 0.75rem 1rem;
    color: #787878;
    text-decoration: none;

    &:hover {
      background: #e7e7e7;
      border-radius: 0.437rem;
      color: #484848;
    }

    & i {
      margin-right: 12px;
    }
  }
}