.table {
  width: 100%;
  border-collapse: collapse;
  position: relative;

  &-head {
    & tr {
      & th {
        text-align: left;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        padding: 10px 14px;
      }
    }
  }

  &-body {
    & tr {
      & td {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 14px;
      }

      &.success {
        & td {
          background-color: var(--success);
          color: #FFFFFF;
        }
      }

      &.bg-danger {
        & td {
          background-color: var(--danger);
        }
      }
    }
  }
}