.top-bar {
  grid-column-start : 1;
  grid-column-end   : 3;
  grid-row-start    : 1;
  grid-row-end      : 2;
  background        : #FFF;
  box-shadow: 0 5px 21px -5px #cdd1e1;
  position: relative;
  z-index: 2;
}