.widget {
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &-header {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &-title {
      font-weight: 600;
      color: rgba(43, 47, 62, .8);
      font-size: 1rem;
    }
    &-subtitle {

    }
  }

  &-body {
    padding: 1.25rem;
  }
}