<!-- name: New Daily Updates --><!-- template slug: new-daily-updates --><!-- template labels: Daily updates, System --><!-- from address: notification@realtimeboard.com --><!-- from name: Miro Team --><!-- subject: {{#if
        issingleview}}New highlights on the {{topboards[0].boardname}}{{else}}{{#if starredboardscount}}{{#if
        commonboardscount}}New highlights on your {{starredboardscount}} starred board{{#if &#x60;starredboardscount &gt; 1&#x60;}}s{{/if}} and {{commonboardscount}} other{{#if &#x60;commonboardscount &gt; 1&#x60;}}s{{/if}}{{else}}New highlights on your {{starredboardscount}} starred board{{#if &#x60;starredboardscount &gt; 1&#x60;}}s{{/if}}{{/if}}{{else}}New highlights on your {{commonboardscount}} board{{#if &#x60;commonboardscount &gt; 1&#x60;}}s{{/if}}{{/if}}{{/if}} --><!DOCTYPE html PUBLIC
        "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="daily-mention" style="background:#f5f5f5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{#if issingleview}}New highlights on the {{topboards[0].boardname}}{{else}}{{#if starredboardscount}}{{#if commonboardscount}}
        New highlights on your {{starredboardscount}} starred board{{#if `starredboardscount > 1`}}
        s{{/if}} and {{commonboardscount}} other{{#if `commonboardscount > 1`}}
        s{{/if}}{{else}}
        New highlights on your {{starredboardscount}} starred board{{#if `starredboardscount > 1`}}
        s{{/if}}{{/if}}{{else}}New highlights on your {{commonboardscount}} board{{#if `commonboardscount > 1`}}s{{/if}}{{/if}}{{/if}}</title>
    <style>@media only screen {
        html {
            min-height: 100%;
            background: #f3f4f8
        }
    }</style>
</head>
<body class="daily-mention__body"
      style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;background:#f5f5f5;box-sizing:border-box;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
<span class="preheader"
      style="color:#f3f4f8;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
<table class="daily-mention__container" style="border-collapse:collapse;border-spacing:0;height:100%;padding:0;text-align:left;vertical-align:top;width:100%">
    <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td class="center" align="center" valign="top"
            style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
            <center data-parsed="" style="min-width:480px;width:100%">
                <table align="center" class="container daily-mention__header float-center"
                       style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;color:#fff;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td height="24px"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:24px;font-weight:400;hyphens:auto;line-height:24px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                         
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="row"
                                   style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th class="small-12 large-6 columns first last"
                                        style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0 auto;padding:0;padding-bottom:0;padding-left:40px;padding-right:40px;text-align:left;width:200px">
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left">
                                                    <a href="https://realtimeboard.com/app/" class="daily-mention__logo" target="_blank"
                                                       style="Margin: 0; color: #2a79ff; display: block; font-family: Helvetica,Arial,sans-serif; font-weight: 400; height: 36px; line-height: 1.43; margin: 0; padding: 0; text-align: left; text-decoration: none; width: 176px;"><img
                                                            src="https://rtb-production-eu-mail.s3.eu-west-1.amazonaws.com/miro/images/logo.png" title="Miro" alt="Miro Logo"
                                                            height="36"
                                                            style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; height: 30px; max-height: 100%; max-width: 100%; outline: 0; text-decoration: none; width: auto;"></a>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td height="60px"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:60px;font-weight:400;hyphens:auto;line-height:60px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                         
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    </tbody>
</table>
<table align="center" class="container float-center"
       style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;color:#fff;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px">
    <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
            <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-12 columns first last"
                        style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0 auto;padding:0;padding-bottom:0;padding-left:40px;padding-right:40px;text-align:left;width:440px">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tbody>
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left">
                                    <div class="daily-mention__title"
                                         style="color:#000;display:inline-block;font-size:32px;font-weight:700;line-height:40px;margin:0;vertical-align:middle">Hello {{userName}},
                                        here are your highlights for {{reportDate}}</div>
                                </th>
                                <th class="expander"
                                    style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td height="60px"
                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:60px;font-weight:400;hyphens:auto;line-height:60px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                         
                    </td>
                </tr>
                </tbody>
            </table>{{#each topBoards}}
            <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-12 columns first last"
                        style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0 auto;padding:0;padding-bottom:0;padding-left:40px;padding-right:40px;text-align:left;width:440px">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tbody>
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left">
                                    <div class="daily-mention__info-block-title" style="color:#2a79ff;font-size:22px;line-height:22px"><a
                                            href="https://realtimeboard.com/app/board/{{boardId}}"
                                            style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:700;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">{{boardName}}</a>{{#if
                                            hasStar}}
                                        <div class="daily-mention__info-block-star"
                                             style="background:url(https://rtb-production-eu-mail.s3.eu-west-1.amazonaws.com/daily-mentions/star-copy-2@2x.png) no-repeat center;background-size:21px;display:inline-block;height:22px;margin-left:10px;vertical-align:text-top;width:25px"></div>{{/if}}
                                    </div>
                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td height="10px"
                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                 
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="daily-mention__info-block-time-modified" style="color:#999;font-size:18px;height:26px;line-height:26px">Owned by {{#if isowner}}
                                        you{{else}}{{owner}}{{/if}}. Last updated at {{lastModified}}</div>
                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td height="40px"
                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:400;hyphens:auto;line-height:40px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                 
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>{{#if issingleview}} {{#if preview}}
                                    <div class="daily-mention__info-block-picture" style="background-color:#333;height:260px"><img src=""
                                                                                                                                   style="-ms-interpolation-mode:bicubic;clear:both;display:block;height:auto;max-height:100%;max-width:100%;outline:0;text-decoration:none;width:auto">
                                    </div>
                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td height="40px"
                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:400;hyphens:auto;line-height:40px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                 
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>{{/if}} {{/if}}
                                    <div class="daily-mention__info-block-item">{{#if editors.topeditors}}
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td class="daily-mention__info-block-item-ico"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;min-height:30px;padding:0;text-align:left;vertical-align:top;width:30px;word-wrap:break-word">
                                                    <img src="https://rtb-production-eu-mail.s3.eu-west-1.amazonaws.com/daily-mentions/activity-24@2x.png"
                                                         style="-ms-interpolation-mode:bicubic;clear:both;display:block;height:auto;max-height:100%;max-width:100%;outline:0;text-decoration:none;width:auto">
                                                </td>
                                                <td class="daily-mention__info-block-item-separator"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;width:26px;word-wrap:break-word"></td>
                                                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                    <div class="daily-mention__info-block-item-title" style="color:#000;font-size:18px;font-weight:700;line-height:26px">{{#each
                                                            editors.topeditors}}{{#if @index}}, {{/if}}{{username}}{{/each}}</div>
                                                    <div class="daily-mention__info-block-item-subtitle" style="color:#000;font-size:18px;line-height:26px">{{#if
                                                            editors.othercount}}and {{editors.othercount}} other{{#if `editors.othercount > 1`}}s{{/if}}{{/if}} edited this board
                                                    </div>
                                                    <div class="daily-mention__info-block-item-link" style="color:#000;font-size:18px;line-height:26px"><a
                                                            href="https://realtimeboard.com/app/board/{{boardId}}/?openActivity"
                                                            style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">View
                                                        activity</a></div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>{{/if}} {{#if comments.visible}}
                                        <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td height="16px"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                     
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td class="daily-mention__info-block-item-ico"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;min-height:30px;padding:0;text-align:left;vertical-align:top;width:30px;word-wrap:break-word">
                                                    <img src="https://rtb-production-eu-mail.s3.eu-west-1.amazonaws.com/daily-mentions/comment-list-24@2x.png"
                                                         style="-ms-interpolation-mode:bicubic;clear:both;display:block;height:auto;max-height:100%;max-width:100%;outline:0;text-decoration:none;width:auto">
                                                </td>
                                                <td class="daily-mention__info-block-item-separator"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;width:26px;word-wrap:break-word"></td>
                                                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                    <div class="daily-mention__info-block-item-title" style="color:#000;font-size:18px;font-weight:700;line-height:26px">New
                                                        comments and chat messages
                                                    </div>
                                                    <div class="daily-mention__info-block-item-link" style="color:#000;font-size:18px;line-height:26px">{{#if comments.newcount}}
                                                        <a href="https://realtimeboard.com/app/board/{{boardId}}/?openComments"
                                                           style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">{{comments.newcount}}
                                                            new comment{{#if `comments.newcount > 1`}}s{{/if}}</a>{{/if}} {{#if comments.multipleparam}}{{#if comments.newcount}}
                                                        and {{/if}}{{/if}} {{#if comments.unreadchatmessagescount}}
                                                        <a href="https://realtimeboard.com/app/board/{{boardId}}/?openChat"
                                                           style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">{{comments.unreadchatmessagescount}}
                                                            chat message{{#if `comments.unreadchatmessagescount > 1`}}s{{/if}}</a>{{/if}} {{#if comments.multipleparam}}{{#unless
                                                            comments.newcount}} and {{/unless}}{{/if}} {{#if comments.missedcount}}
                                                        <a href="https://realtimeboard.com/app/board/{{boardId}}/?openComments"
                                                           style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">{{comments.missedcount}}
                                                            missed comment{{#if `comments.missedcount > 1`}}s{{/if}}</a>{{/if}}</div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>{{/if}} {{#if frames.topframes}}
                                        <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td height="16px"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                     
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td class="daily-mention__info-block-item-ico"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;min-height:30px;padding:0;text-align:left;vertical-align:top;width:30px;word-wrap:break-word">
                                                    <img src="https://rtb-production-eu-mail.s3.eu-west-1.amazonaws.com/daily-mentions/frames-list-24@2x.png"
                                                         style="-ms-interpolation-mode:bicubic;clear:both;display:block;height:auto;max-height:100%;max-width:100%;outline:0;text-decoration:none;width:auto">
                                                </td>
                                                <td class="daily-mention__info-block-item-separator"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;width:26px;word-wrap:break-word"></td>
                                                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                    <div class="daily-mention__info-block-item-title"
                                                         style="color:#000;font-size:18px;font-weight:700;line-height:26px">{{frames.totalcount}} new
                                                        frame{{#if `frames.totalcount > 1`}}s{{/if}} created
                                                    </div>
                                                    <div class="daily-mention__info-block-item-link" style="color:#000;font-size:18px;line-height:26px">{{#if
                                                            frames.topframes}} {{#each frames.topframes}}{{#if @index}}, {{/if}}<a
                                                            href="https://realtimeboard.com/app/board/{{boardId}}/?moveToWidget={{frameId}}"
                                                        style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">{{{name}}}</a>{{/each}} {{#if
                                                            frames.othercount}}and <a href="https://realtimeboard.com/app/board/{{boardId}}/?openFrames"
                                                                                      style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">{{frames.othercount}}
                                                        more</a>{{/if}} {{else}} {{#if frames.othercount}}<a href="https://realtimeboard.com/app/board/{{boardId}}/?openFrames"
                                                                                                             style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">View
                                                        frames</a> {{/if}} {{/if}}</div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>{{else}} {{#if frames.othercount}}
                                        <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td height="16px"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                     
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td class="daily-mention__info-block-item-ico"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;min-height:30px;padding:0;text-align:left;vertical-align:top;width:30px;word-wrap:break-word">
                                                    <img src="https://rtb-production-eu-mail.s3.eu-west-1.amazonaws.com/daily-mentions/frames-list-24@2x.png"
                                                         style="-ms-interpolation-mode:bicubic;clear:both;display:block;height:auto;max-height:100%;max-width:100%;outline:0;text-decoration:none;width:auto">
                                                </td>
                                                <td class="daily-mention__info-block-item-separator"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;width:26px;word-wrap:break-word"></td>
                                                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                    <div class="daily-mention__info-block-item-title"
                                                         style="color:#000;font-size:18px;font-weight:700;line-height:26px">{{frames.totalcount}} new
                                                        frame{{#if `frames.totalcount > 1`}}s{{/if}} created
                                                    </div>
                                                    <div class="daily-mention__info-block-item-link" style="color:#000;font-size:18px;line-height:26px">{{#if
                                                            frames.topframes}} {{#each frames.topframes}}{{#if @index}}, {{/if}}<a
                                                            href="https://realtimeboard.com/app/board/{{boardId}}/?moveToWidget={{frameId}}"
                                                        style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">{{{name}}}</a>{{/each}} {{#if
                                                            frames.othercount}}and <a href="https://realtimeboard.com/app/board/{{boardId}}/?openFrames"
                                                                                      style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">{{frames.othercount}}
                                                        more</a>{{/if}} {{else}} {{#if frames.othercount}}<a href="https://realtimeboard.com/app/board/{{boardId}}/?openFrames"
                                                                                                             style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">View
                                                        frames</a> {{/if}} {{/if}}</div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>{{/if}} {{/if}}
                                        <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td height="40px"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:400;hyphens:auto;line-height:40px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                     
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                    <a class="daily-mention__info-block-btn" href="https://realtimeboard.com/app/board/{{boardId}}"
                                                       style="Margin:0;background-color:#2a79ff;border-radius:4px;color:#fff;display:block;font-family:Helvetica,Arial,sans-serif;font-size:18px;font-weight:700;height:56px;line-height:56px;margin:0;padding:0;text-align:center;text-decoration:none;width:205px">View
                                                        this board</a></td>
                                                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">{{#if
                                                        canUnsubscribe}}
                                                    <a href="https://realtimeboard.com/unsubscribe/?hash={{userHash}}" class="daily-mention__info-block-link-unsubscribe"
                                                    style="Margin:0;color:#999;font-family:Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:56px;margin:0;padding:0;text-align:left;text-decoration:none">Unsubscribe
                                                    from this board</a>
                                                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td height="40px"
                                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:400;hyphens:auto;line-height:40px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                 
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>{{/if}}</td>
                                            </tr>
                                            </tbody>
                                        </table>{{#if islast}} {{#if listedboards}}
                                            <table class="row"
                                                   style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                                <tbody>
                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                    <th class="small-12 large-12 columns first last"
                                                        style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:440px">
                                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                            <tbody>
                                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                                <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left">
                                                                    <table class="spacer"
                                                                           style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                        <tbody>
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <td height="40px"
                                                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:400;hyphens:auto;line-height:40px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                 
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <div class="daily-mention__list-board-block" style="color:#000;font-size:18px;line-height:26px">{{#each
                                                                            listedboards}}{{#if @index}}, {{/if}}<a
                                                                            href="https://realtimeboard.com/app/board/{{boardId}}/?openActivity"
                                                                            style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">{{boardname}}</a>{{/each}}{{#if
                                                                            othercount}}and <a href="https://realtimeboard.com/app/dashboard/?sort=LAST_MODIFIED"
                                                                                               style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">{{othercount}}
                                                                        more</a>{{/if}} also {{#if `nottopcount > 1`}}have{{else}}has{{/if}} been updated
                                                                    </div>
                                                                </th>
                                                                <th class="expander"
                                                                    style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </th>
                                                </tr>
                                                </tbody>
                                            </table>{{/if}} {{/if}}
                                        <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td height="40px"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:400;hyphens:auto;line-height:40px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                     
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="daily-mention__info-block-bottom-separator" style="background-color:#efefef;height:2px"></div>
                                    </div>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td height="60px"
                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:60px;font-weight:400;hyphens:auto;line-height:60px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                         
                    </td>
                </tr>
                </tbody>
            </table>{{/each}}
            <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-12 columns first last"
                        style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0 auto;padding:0;padding-bottom:0;padding-left:40px;padding-right:40px;text-align:left;width:440px">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tbody>
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left">
                                    <table class="daily-mention__feedback-block"
                                           style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td class="daily-mention__feedback-block-ico"
                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;width:40px;word-wrap:break-word">
                                                <img src="https://rtb-production-eu-mail.s3.eu-west-1.amazonaws.com/daily-mentions/chat-48.png"
                                                     style="-ms-interpolation-mode:bicubic;clear:both;display:block;height:auto;max-height:100%;max-width:100%;outline:0;text-decoration:none;width:100%">
                                            </td>
                                            <td class="daily-mention__feedback-block-separator"
                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;width:16px;word-wrap:break-word"></td>
                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                <div class="daily-mention__feedback-block-title"
                                                     style="color:#000;font-size:22px;font-weight:700;line-height:22px;padding-top:11px">Do you have any feedback on this email?
                                                </div>
                                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                    <tbody>
                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                        <td height="10px"
                                                            style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                             
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="daily-mention__feedback-block-subtitle" style="color:#000;font-size:18px;line-height:26px">Please share it with us in <a
                                                        href="https://Mirosurvey.typeform.com/to/LY333k" target="_blank"
                                                        style="Margin:0;color:#2a79ff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:none">a
                                                    2-min survey</a></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </th>
                                <th class="expander"
                                    style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td height="80px"
                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:80px;font-weight:400;hyphens:auto;line-height:80px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                         
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<table align="center" class="container daily-mention__footer float-center"
       style="Margin:0 auto;background:#f5f5f5;border-collapse:collapse;border-spacing:0;color:#fff;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px">
    <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.43;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
            <div id="CUSTOM_FOOTER" style="background-color: #FFF; padding: 42px 40px; margin-top: 20px;">
                <div style="margin-bottom: 4px; font-family: Helvetica; font-size: 14px; line-height: 20px; color: #050038; font-weight: bold;">RealtimeBoard is now Miro!</div>
                <div style="font-family: Helvetica; font-size: 14px; line-height: 20px; color: #676486;">We have a new brand identity and a new name, Miro, that’s inspired by the
                    amazing things our customers have built in our product. <a href="https://realtimeboard.com/new-brand/">Click here to read more</a>, or reach out to us with any
                    feedback or questions.
                </div>
            </div>
            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td height="80px"
                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:80px;font-weight:400;hyphens:auto;line-height:80px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                         
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-12 columns first last"
                        style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0 auto;padding:0;padding-bottom:0;padding-left:40px;padding-right:40px;text-align:left;width:440px">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tbody>
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left">
                                    <center data-parsed="" style="min-width:360px;width:100%"><a href="https://realtimeboard.com/blog/"
                                                                                                 class="daily-mention__footer-link float-center" target="_blank" align="center"
                                                                                                 style="Margin:0;color:#000;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:underline">MiroBlog</a>
                                    </center>
                                </th>
                                <th class="expander"
                                    style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td height="20px"
                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:auto;line-height:20px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                         
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-12 columns first last"
                        style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0 auto;padding:0;padding-bottom:0;padding-left:40px;padding-right:40px;text-align:left;width:440px">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tbody>
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left">
                                    <p class="text-center"
                                       style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;margin-bottom:10px;padding:0;text-align:center">
                                        <a href="https://www.facebook.com/Miro" class="daily-mention__social-link daily-mention__social-link--facebook" target="_blank"
                                           style="Margin:0;color:#2a79ff;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-weight:400;height:32px;line-height:1.43;margin:0 10px;padding:0;text-align:left;text-decoration:none;vertical-align:bottom;width:17px"><img
                                                src="https://rtb-production-eu-mail.s3-eu-west-1.amazonaws.com/onboarding/facebook.png" title="Miro Facebook" alt="Miro Facebook"
                                                width="24" height="24"
                                                style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;height:auto;margin-top:3px;max-height:100%;max-width:100%;outline:0;text-decoration:none;width:auto">
                                        </a><a href="https://twitter.com/Miro" class="daily-mention__social-link daily-mention__social-link--twitter" target="_blank"
                                               style="Margin:0;color:#2a79ff;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-weight:400;height:24px;line-height:1.43;margin:0 10px;padding:0;text-align:left;text-decoration:none;vertical-align:bottom;width:33px"><img
                                            src="https://rtb-production-eu-mail.s3-eu-west-1.amazonaws.com/onboarding/twitter.png" title="Miro Twitter" alt="Miro Twitter"
                                            width="24" height="24"
                                            style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;height:auto;max-height:100%;max-width:100%;outline:0;text-decoration:none;width:auto">
                                    </a><a href="https://www.linkedin.com/company/Miro/" class="daily-mention__social-link daily-mention__social-link--linkedin" target="_blank"
                                           style="Margin:0;color:#2a79ff;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-weight:400;height:28px;line-height:1.43;margin:0 10px;padding:0;text-align:left;text-decoration:none;vertical-align:bottom;width:32px"><img
                                            src="https://rtb-production-eu-mail.s3-eu-west-1.amazonaws.com/onboarding/linkedin.png" title="Miro LinkedIn" alt="Miro LinkedIn"
                                            width="38" height="24"
                                            style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;height:auto;max-height:100%;max-width:100%;outline:0;text-decoration:none;width:auto">
                                    </a><a href="https://www.youtube.com/user/MiroEng/videos/" class="daily-mention__social-link daily-mention__social-link--youtube"
                                           target="_blank"
                                           style="Margin:0;color:#2a79ff;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-weight:400;height:26px;line-height:1.43;margin:0 10px;padding:0;text-align:left;text-decoration:none;vertical-align:bottom;width:36px"><img
                                            src="https://rtb-production-eu-mail.s3-eu-west-1.amazonaws.com/onboarding/youtube.png" title="Miro YouTube" alt="Miro YouTube"
                                            width="24" height="24"
                                            style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;height:auto;max-height:100%;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
                                    </p></th>
                                <th class="expander"
                                    style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td height="30px"
                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:30px;font-weight:400;hyphens:auto;line-height:30px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                         
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-12 columns first last"
                        style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0 auto;padding:0;padding-bottom:0;padding-left:40px;padding-right:40px;text-align:left;width:440px">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tbody>
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left">
                                    <center data-parsed="" style="min-width:360px;width:100%">
                                        <div class="daily-mention__footer-text float-center" align="center" style="color:#000;font-size:14px;line-height:1.7">Need help using our
                                            product? <a href="https://realtimeboard.com/contact/support/" target="_blank" class="daily-mention__footer-link"
                                                        style="Margin:0;color:#000;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:underline">Submit
                                                a support ticket</a></div>
                                    </center>
                                </th>
                                <th class="expander"
                                    style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td height="25px"
                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:25px;font-weight:400;hyphens:auto;line-height:25px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                         
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-12 columns first last"
                        style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0 auto;padding:0;padding-bottom:0;padding-left:40px;padding-right:40px;text-align:left;width:440px">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tbody>
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left">
                                    <center data-parsed="" style="min-width:360px;width:100%">
                                        <div class="daily-mention__footer-text float-center" align="center" style="color:#000;font-size:14px;line-height:1.7"><a
                                                href="https://realtimeboard.com/app/account/profile/notifications/" target="_blank" class="daily-mention__footer-link"
                                                style="Margin:0;color:#000;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:underline">Customize</a>
                                            your updates from Miro or <a href="https://realtimeboard.com/unsubscribe/?hash={{userHash}}" target="_blank"
                                            class="daily-mention__footer-link"
                                            style="Margin:0;color:#000;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.43;margin:0;padding:0;text-align:left;text-decoration:underline">unsubscribe</a>
                                        </div>
                                    </center>
                                </th>
                                <th class="expander"
                                    style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.43;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td height="50px"
                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:50px;font-weight:400;hyphens:auto;line-height:50px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                         
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="daily-mention__separator" style="background:#d8d8d8;height:2px"></div>
            <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top"></tr>
                </tbody>
            </table>
            <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td height="50px"
                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:50px;font-weight:400;hyphens:auto;line-height:50px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                         
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table><!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none;white-space:nowrap;font:15px courier;line-height:0">                                                           </div>
</body>
</html>