{% extends '../layout.twig' %}

{% block body %}
	<div class="col-12">
		<div class="widget">
			<div class="widget-header">
				<div class="widget-header-title">MIRO Templates</div>
			</div>
			<div class="widget-body">
				<table class="table">
					<thead class="table-head">
					<tr>
						<th>Slug</th>
						<th>Labels</th>
						<th>From email</th>
						<th>Control</th>
					</tr>
					</thead>
					<tbody class="table-body">
					{% for template in newTemplates %}
						<tr {% if template.remove == true %}class="bg-danger"{% endif %}>
							<td>{{ template.slug }}</td>
							<td>
								<div class="label-group">
									{% for label in template.labels %}
										<span class="label primary">{{ label }}</span>
									{% endfor %}
								</div>
							</td>
							<td>{{ template.fromEmail }}</td>
							<td>
								<div class="btn-group no-wrap">
									<a href="/template/download/{{ template.slug }}" class="btn ico success small"><i class="fa fa-fw fa-download"></i></a>
									<a href="/template/upload/{{ template.slug }}" class="btn ico success small"><i class="fa fa-fw fa-upload"></i></a>
									<a href="/template/view/{{ template.slug }}" class="btn ico success small"><i class="fa fa-fw fa-window-restore"></i></a>
								</div>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
