{% extends 'layout.twig' %}

{% block body %}
	<div class="col-12">
		<div class="widget">
			<div class="widget-header">
				<div class="widget-header-title">{{ title }}</div>
			</div>
			<div class="widget-body"></div>
		</div>
	</div>
{% endblock %}