<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/dist/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<div class="bubble-alert" id="bubble-alert"></div>
<div class="dashboard">
    <div class="left-bar">
        <ul class="menu">
            <li><a class="js-href-lock" href="/"><i class="fa fa-fw fa-home"></i>Dashboard</a></li>
            <li><a class="js-href-lock" href="/template/"><i class="fa fa-fw fa-file"></i>Templates</a></li>
            <li><a href="/update/miro/"><i class="fa fa-fw fa-file-upload"></i>Update miro templates</a></li>
            <li><a href="/control/merge/rtb-in-miro"><i class="fa fa-fw fa-file-import"></i>Merge RTB in Miro</a></li>
            <li><a href="/control/create-file-in-repository/"><i class="fa fa-fw fa-file-invoice"></i>Create files template</a></li>
            <li><a href="/remove/all"><i class="fa fa-fw fa-trash"></i>Remove old templates</a></li>
        </ul>
    </div>
    <div class="top-bar"></div>
    <div class="content">
        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</body>
<script src="/js/dist/common.js"></script>
</html>
