{% macro recursive(tree) %}
	<ul class="tree">
		{% for element in tree.value %}
			<li class="js-chunk"{% if element.replace %}style="background-color: var(--blue)" {% endif %}>
				<div class="js-code">{{ element.raw }}</div>
				<span class="label success">{{ element.key }}</span>
				{% if element.classes %}
					<span class="label primary">{{ element.classes }}</span>
				{% endif %}
				{% if element.id %}
				<span class="label danger">{{ element.id }}
					{% endif %}
			</li>
			{{ _self.recursive(element) }}
		{% endfor %}
	</ul>
{% endmacro %}
