:root {
  --blue: #3B7AE2;
  --indigo: #6610F2;
  --purple: #6F42C1;
  --pink: #E83E8C;
  --red: #E33244;
  --orange: #FD7E14;
  --yellow: #FCC633;
  --green: #1AAE88;
  --teal: #20C997;
  --cyan: #1CCACC;
  --white: #FFF;
  --gray: #6C757D;
  --gray-dark: #343A40;
  --primary: #3B7AE2;
  --secondary: #6C757D;
  --success: #1AAE88;
  --info: #1CCACC;
  --warning: #FCC633;
  --danger: #E33244;
  --light: #FCFCFD;
  --dark: #343A40;

  --font-size-h4: 1.2rem;
  --gap: 1.5rem;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  background-color: #EDEDED;
  color: #333;
}

.dashboard {
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 60px 1fr;
}