{% extends 'layout.twig' %}
{% import 'macro.twig' as macro %}

{% block body %}
	<div class="col-12">
		<div class="btn-group">
			{% if prev %}
				<a href="/template/view/{{ prev.slug }}"  class="btn primary"><span>Prev</span></a>
			{% endif %}
			{% if next %}
				<a href="/template/view/{{ next.slug }}" class="btn primary"><span>Next</span></a>
			{% endif %}
		</div>
	</div>
	<div class="col-4">
		<div class="widget">
			<div class="widget-body">
				<ul>
					<li>slug: {{ template.slug }}</li>
					<li>name: {{ template.name }}</li>
					<li>subject: {{ template.subject }}</li>
					<li>From email: {{ template.fromEmail }}</li>
					<li>From name: {{ template.fromName }}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-8">
		<div class="widget">
			<div class="widget-header">
				<div class="widget-header-title">MIRO</div>
			</div>
			<iframe style=" width: 100%; min-height: 700px" src="/template/preview/{{ template.slug }}" frameborder="0"></iframe>
		</div>
	</div>
{% endblock %}