{% extends '../../../layout.twig' %}

{% block body %}
	<div class="col-4">
		<div class="widget">
			<div class="widget-header">
				<div class="widget-header-title">Progress</div>
			</div>
			<div class="widget-body">
				<div><span id="upload">0</span> of <span id="count"> </span> : <span id="template"></span></div>
				<br>
				<div style="overflow: hidden; position: relative; height: 24px; padding: 4px; box-sizing: border-box; border: 1px solid #e7e7e7; border-radius: 4px; background-color: #F5F5F5">
					<span id="progress" style="height: 14px; width: 0; display: block; border-radius: 2px; background-color: #1AAE88; transition: 250ms width"></span>
				</div>
				<br>
				<button class="btn primary" onclick="start()"><span>Start</span></button>
				<button class="btn success" onclick="stop()"><span>Stop</span></button>
			</div>
		</div>
	</div>


	<script>
		let xhrTemplates = new XMLHttpRequest();
		let templates = null;
		let count = 0;
		let status = false;

		xhrTemplates.open('GET', '/list/templates/remove/all');

		xhrTemplates.onload = function () {
			if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
				templates = JSON.parse(this.response);
				document.getElementById('count').innerText = templates.count;

				console.dir(templates);
			}
		}

		xhrTemplates.send();

		function start() {
			if (!status) {
				status = true;
				upload();
			}
		}

		function stop() {
			status = false;
		}

		function upload() {
			if (!status) {
				return;
			}

			if (count >= templates.list.length) {
				document.getElementById('template').innerText = 'DONE!';
				count = 0;
				status = false;
				return;
			}

			let template = templates.list[count];

			document.getElementById('template').innerText = template;

			let xhr = new XMLHttpRequest();

			xhr.open('GET', '/remove/template/' + template);

			xhr.onload = function () {
				if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
					console.log(JSON.parse(this.response));
					count++;
					document.getElementById('upload').innerText = count;
					document.getElementById('progress').style.width = (100 / templates.count) * count + "%";
					upload();
				}
			}

			xhr.send();
		}

	</script>

{% endblock %}